<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <!-- Computing variables programatically -->
    <h1>Woza <%= 9*9 %> </h1>
    <!-- Getting variables from the server -->
    <h1>Woza <%= audience %> </h1>
    <h1>Woza <%= audience1 %> </h1>
    <h1>Woza <%= audience2 %> </h1>
</body>
</html>